* {
  box-sizing: border-box;
  font-family: 'Teko', sans-serif;
  
}

html{
  height:100vh;
  width:100vw;
  background-image: url("https://cdn.pixabay.com/photo/2017/12/15/13/51/polynesia-3021072_1280.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}


.hidden{
  display:none;
}


.topheaders{
  color:white;
  font-size: 25px;
  margin-top:15vh;
  text-align:center;
   
}

.searchBox{
  margin-top: 20vh;
  text-align:center;
}

.frontsearch{
  width:75vw;
}

.parameterPage{
 margin-left:auto;
 margin-right:auto;
}

.parameterPage h4{
  color:white;
  font-size:22px;
  text-align: center;
}
.params{
  height:75vh;
  display:flex;
  padding-top:-15%;
  flex-direction: column;
  flex-basis: auto;
  justify-content: space-evenly;
}

.params input[type=text], input[type=date]{
  font-size:15px;
  width:65vw;
  height:20px;
  margin-left:auto;
  margin-right:auto;
}

.resultsPage {
  padding-top:5vh;
  height:95vh;
  
}

.resultsPage h1,ul {
  color:white;
  text-align: center;
  list-style-type: none;
  padding-left: 0;
}

.flightResults, .restaurantResults, .weatherResults{
  
  background: rgba(0,0,0,.5);
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.resultsPage a:hover{
  cursor: pointer;
}
.resultsPage a:visited{
  color:black;
}
.resultsPage a:link {
  color:white;
}

.weatherResults{
  color:white;
}

span{
  color:white;
  background:rgba(0,0,0,.5);
  margin-left: auto;
  margin-right:auto;
}




@media only screen and 
(min-width: 700px)

{
 


  .homePage{
    height:90vh;
    
  }

 .topheaders{
   font-size: 60px;
  }


  .searchBox input,button {
    overflow: visible;
    font-size:2vh;
    height:5vh;
  }
  
  .searchBox button {
    width:70px;
  }

  .parameterPage h4{
    font-size:45px;
    text-align: center;
  }

  .params input[type=text], input[type=date]{
    font-size:26px;
    height:45px;
    
    
  }

  .params input[type=submit]{
    height:37px;
    font-size:25px;
    margin-right:auto;
    margin-left:auto;
    width:10vw;

  }

  

  .resultsPage h1 {
    font-size: 35px;
  }

  .resultsPage li {
    font-size:20px;
  }


}

@media only screen and 
(min-width: 1000px){

  html{
    background-size: cover;
  }


}
  





  
  





