* {
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}

.hidden{
    display:none;
}

a:link{
    font-style:underline;
    
}

body {
    height: 100vh;
    width: 100vw;
    margin: auto;
}

body, html {
    height: 100%;
}

main {
    overflow:auto;
    position:relative;
    z-index: 2;
    height:100vh;
}

img {
    height: 25px;
    width: 25px;
}

.bg-image {
    background-image: url("https://cdn.pixabay.com/photo/2017/12/15/13/51/polynesia-3021072_1280.jpg");
    filter: blur(3px);
    -webkit-filter: blur(3px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position:absolute;
    
}

.homePage {
    height: 100vh;
    width: 100vw;
    margin: auto;
    max-height:100vh;
}

.homePage .weather {
    position:relative;
    border:1px solid black;
    bottom:50vh;
    margin:auto;
    height:10vh;
    width:40vw;

}


.homePage h3 {
    position: absolute;
    margin-block-start: 0em;
    margin-block-end: 0em;
    width: 80vw;
    text-align: center;
    font-size:100px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    top: 15vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 10px;
}

.homePage h5 {
    position: absolute;
    margin-block-start: 0em;
    margin-block-end: 0em;
    width: 100vw;
    top: 20vh;
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;    
    color: white;
    font-weight: bold;
}

.searchBox {
    width: 100vw;
    margin-block-start: 0em;
    margin-block-end: 0em;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display:inline-flex;
    justify-content: center;
    top: 40vh;
}

.search {
    width: 65vw;
    padding: 12px;
    border: 2px solid deepskyblue;
    border-radius: 4px;
    margin-top: auto;
    margin-bottom: auto;
}

.paramEnter {
    padding-right:33px;
    display:block;
    margin-top:auto;
    text-align:center;
    width:20px;
    margin-bottom:auto;
    background: white;
    border-radius:4px;
    
}

.fas {
    color:deepskyblue;
    background:white;
    border-radius:4px;
    padding:12px;
}


.destination {
    display:none;
    position:relative;
    top:25vh;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.parameterPage {
    height:100vh;
    width:100vw;
    text-align:center;
    
}

.parameterPage .params {
    position: absolute;
    margin-block-start: 0em;
    margin-block-end: 0em;
    width: 80vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    top:50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 10px;
    display:flex;
    height:80vh;
    line-height:60px;
    margin-bottom:20px;

    flex-direction: column;
    margin:auto;
    text-align:center;
    
}

.params h4{
    line-height:5vh;
}
.params input[type=text] {
    margin-left: auto;
    margin-right:auto;
    
}

.paramSubmit{
    background:White;
}

.resultsPage{
    height:100vh;
    width:100vw;
    text-align: center;
    margin:auto;
    display:flex;
    flex-flow:row wrap;
    justify-content: flex-end;
    
}



.resultsPage {
    height:100vh;
    position: absolute;
    margin-block-start: 0em;
    margin-block-end: 0em;
    width: 80vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 10px;  
}

.resultsPage div {
    margin-bottom:10vh;
}

.resultsPage h1 {
    color:#DEE4E7;
    font-size:14px;
    width:100%;
}

a:hover {
    cursor:pointer;
}

a:link {
    color: #DEE4E7;
    cursor:pointer;
}

a:visited {
    color:black;
}


.flightResults {
    display: flex;
    width:65vw;
    height:19vh;
    margin-left:auto;
    margin-right:auto;
    flex-flow: wrap;
    flex-direction: column;
    border:1px solid #DEE4E7;
    z-index:900;
}

.restaurantResults {
    display: flex;
    width:65vw;
    height:19vh;
    margin-left:auto;
    margin-right:auto;
    flex-flow: wrap;
    flex-direction: column;
    border:1px solid #DEE4E7;
}

.weatherResults {
    display: flex;
    width:65vw;
    height:19vh;
    margin-left:auto;
    margin-right:auto;
    flex-flow: wrap;
    flex-direction: column;
    border:1px solid #DEE4E7;
}
@media only screen and 
(min-height:200px) and
(min-width: 600px){
    .hidden {
        display:none;
    }

    .homePage h3 {
        font-size:28px;
        width:30vw;
    }

    .homePage h5 {
        font-size:12px;
    }
    .locEnter{
        background:none;
        border:none;
    }

    .locEnter i {
        padding:14px;
        border:solid deepskyblue 2px;
        
        
    }

    .params input[type=text] {
        height:10px;
    }

    .params input[type=submit] {
        margin-left:auto;
        margin-right:auto;
        padding-right:45px;
    }
    

}

@media only screen and 
(min-height:376px) and
(min-width: 600px) {
    .hidden {
        display:none;
    }

    .homePage h3 {
        margin-top:8vh;
        font-size:40px;
        width:30vw;
    }

    .homePage h5 {
        font-size:12px;
        top:27vh;
    }

    .homePage .searchBox {
        margin-top:12vh;
    }

    .locEnter i {
        padding:15px;
        border:solid deepskyblue 2px;
    }

    .paramEnter {
        padding-right:48px;
        padding-left:20px;
        padding-top:13px;
        padding-bottom:10px;
        border:1px solid deepskyblue;
    }

    .parameterPage h4 {
        margin-top:2px;
        margin-bottom:2px;
        margin-right:auto;
        margin-left:auto;
        width:60%;
        font-size:20px;
    }

    .resultsPage {
        height:80vh;
        font-size:12px;
    }


    .resultsPage div {
        height:15vh;
        width:85vh;
        
    }

}

@media only screen and 
(min-height:600px) and
(min-width: 600px) {
    .homePage h3 {
        font-size:65px;
        width:60vw;
    }

   .homePage h5 {
        top:27vh;
        font-size:20px;
   }

   .resultsPage {
       font-size:20px;
   }

}

@media only screen and
(min-height:600px) and
(min-width:300px) {
    .hidden {
        display:none;
    }

    .resultsPage{
        height:80vh;
    }

    .resultsPage div{
        height:18vh;
    }

    .searchBox {
        margin-top:10vh;

    }

    .locEnter i {
        padding:15px;
        border:2px solid deepskyblue;
    }

    .paramEnter {
        padding-right:48px;
        padding-left:20px;
        padding-top:13px;
        padding-bottom:10px;
        border:1px solid deepskyblue;
    }

}

@media only screen and
(min-height:800px) and
(min-width:600px){
    .resultsPage {
        font-size:24px;
    }

    .resultsPage div {
        width:50vw;
    }

    .paramEnter{
        padding-right:33px;
    }

}





